@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&family=Space+Grotesk:wght@400;700&display=swap');

@theme {
  /* Changed to Neon Blue */
  --color-neon: #00e5ff;
  --color-darkBg: #0b0c13;
  --font-mono: 'Fira Code', monospace;
  --font-sans: 'Space Grotesk', sans-serif;
}

body {
  background-color: var(--color-darkBg);
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);
  background-size: 60px 60px;
  color: white;
  margin: 0;
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}

/* Custom Theme Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-darkBg);
  border-left: 1px solid #1f2937;
}

::-webkit-scrollbar-thumb {
  background: #374151;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-neon);
  box-shadow: 0 0 10px var(--color-neon);
}